[submodule "lab0-Suhas-Reddy-S"]
	path = lab0-Suhas-Reddy-S
	url = git@github.com:ecen4313-fl24/lab0-Suhas-Reddy-S.git
[submodule "lab1-Suhas-Reddy-S"]
	path = lab1-Suhas-Reddy-S
	url = git@github.com:ecen4313-fl24/lab1-Suhas-Reddy-S.git
[submodule "lab2-Suhas-Reddy-S"]
	path = lab2-Suhas-Reddy-S
	url = git@github.com:ecen4313-fl24/lab2-Suhas-Reddy-S.git
[submodule "lab3-Suhas-Reddy-S"]
	path = lab3-Suhas-Reddy-S
	url = git@github.com:ecen4313-fl24/lab3-Suhas-Reddy-S.git
[submodule "finalproject-Suhas-Reddy-S"]
	path = finalproject-Suhas-Reddy-S
	url = git@github.com:ecen4313-fl24/finalproject-Suhas-Reddy-S.git
